.App {
  text-align: center;
  background-color: slategrey;
}

:root {
  scroll-padding-top: 88px;
  scroll-behavior: smooth;
  background-color: slategrey;
}

.main {
  background-color: slategrey;
  margin-top: 60px;
}

video {
  margin-top: 20px;
  padding: 0;
  max-height: 180px;
}
