.App {
  text-align: center;
  background-color: slategrey;
}

:root {
  scroll-padding-top: 88px;
  scroll-behavior: smooth;
  background-color: slategrey;
}

.main {
  background-color: slategrey;
  margin-top: 60px;
}

video {
  margin-top: 20px;
  padding: 0;
  max-height: 180px;
}

.portfolio-piece {
  transition: all 0.2s ease-in-out;
  background-color: #dfdddd;
  margin-top: 5px;
  margin-bottom: 5px;
}

.portfolio-piece:hover {
  box-shadow: 5px 8px 8px rgb(105, 104, 104);
  transform: scale(1.14);
  border: 0.1px solid #bebcbca8;
}

.last {
  max-width: 440px;
}

.icon {
  color: "#082c45";
  padding: 20px;
}

.main-container {
  width: 75vw;
  padding-left: 24px;
  padding-right: 24px;
}

@media only screen and (max-width: 500px) {
  .main-container {
    width: 100vw;
    padding-left: 0;
    padding-right: 0;
  }

  .portfolio-piece:hover {
    transform: scale(1.02);
    border: 1px solid grey;
  }
}
